//--- GEF
include ../../../bower_components/GEF/src/assets/pug/core.pug

//-- LOCAL
include _variables.pug
include _head.pug
include patterns/_global-corporate-logo.pug
include patterns/_global-header.pug