//--- VARIABLES
//---------------------------------------------------------

- var siteName        = "GEF SSO login"
- var theme           = "common"
- var siteConfigPath  = "config/"
- var corporateName = "NSW Department of Education"
- var corporateNameShort = "NSW DoE"