//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1

          h1.uk-margin-large-top
            | #{siteName} : #{pageName}

          h2.uk-h3 SSO Templates

          ul
            li
              a(href="sso-default.html") SSO Default

            li
              a(href="sso-error.html") SSO Error

            li
              a(href="sso-logout.html") SSO Logout

            li
              a(href="sso-logout-confirmation.html") SSO Logout confirmation

            li
              a(href="sso-reset.html") SSO Reset Password

            li
              a(href="sso-timeout.html") SSO Timeout

            li
              a(href="sso-password-successfully-reset.html") SSO Password successfully reset

            li
              a(href="sso-secret-questions.html") SSO Secret Questions

  </body>
