//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Content"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang="en")

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard align-top">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard align-top">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block.sso-block--full-width

            div.uk-container

              p.uk-margin-large-top
                a(href="#") Return to login screen

              h1.uk-h5.uk-margin-large-top
                | Login help for DoE/TAFE staff

              p There are two ways to log in to the DoE Staff portal or the MyTAFE portal.


              h2.uk-h6 Access the DoE Staff Portal directly:

              p When you start your browser you are prompted to enter your user name and password.
              ul
                li User name - enter your DoE User ID. (e.g. john.citizen)
                li Password - enter your DoE User ID Password
                li Click "OK"

              p NOTE: Make sure the "Caps Lock" on your computer is off.

              img(src="http://portalhelp.det.nsw.edu.au/documents/32853016/33181391/help_login01.gif" alt="Screenshot of Windows login prompt")


              h2.uk-h6 Access the DoE Staff Portal from outside the network, or by selecting it from the DoE Intranet:

              ul
                li User name - enter your DoE User ID. (e.g. john.citizen)
                li Password - enter your DoE User ID Password
                li Click "Log in"

              img(src="http://portalhelp.det.nsw.edu.au/documents/32853016/33181391/help_login02.jpg" alt="Screenshot of Windows login prompt")


              h2.uk-h6 Forgot your password?

              p Click on forgot your password to change it in three easy steps. You will need to have previously created 3 secret questions and answers.
              p If you haven’t created secret questions and answers or need help, contact the following.

              h3.uk-h6 NSW Department of Education staff
              p Call EDConnect on 1300 32 32 32.
              p Hours of service are 7:30am to 6pm Monday to Friday (excluding public holidays).

              h3.uk-h6 TAFE NSW staff
              p Contact your local service desk.

              hr

              p.uk-margin-large-bottom
                small
                  | Last updated 15 January 2013

  +global_footer

  include assets/pug/_scripts.pug
