//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Timeout"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | Password successfully reset

              p You have successfully reset your password.


              p
                a(href="#")
                  | Return to log in screen

              hr

              p
                | Have trouble logging in?

              p.uk-margin-large-bottom.sso-links
                a(href="#")
                  | Help for DoE/TAFE staff
                a(href="#")
                  | Help for TAFE students

  +global_footer

  include assets/pug/_scripts.pug
