//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Secret Questions"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | Your secret questions

              form.uk-form
                fieldset
                  legend.show-on-sr
                    | User details
                  div
                    label(for="secretq1").sso-labels
                      | What was the name of your primary school?
                  input.uk-width-medium-6-10.uk-margin-top(type="text", id="secretq1", name="secretq1", placeholder="" autocorrect="off" autocapitalize="none")
                  div
                    label( for="secretq2").sso-labels
                      | What year did you start primary school?
                  input.uk-width-medium-6-10.uk-margin-top(type="text", id="secretq2", name="secretq2", placeholder=""  autocorrect="off" autocapitalize="none")
                  div
                    label( for="secretq3").sso-labels
                      | Where does your nearest sibling live?
                  input.uk-width-medium-6-10.uk-margin-top(type="text", id="secretq3", name="secretq3", placeholder="" autocorrect="off" autocapitalize="none")

                  input.uk-button.uk-margin-top(type="submit", value="Clear")
                  input.uk-button.uk-margin-top(type="submit", value="Submit")

              p
                a(href="#")
                  | Return to log in screen

              hr

              p
                | Have trouble logging in?

              p.uk-margin-large-bottom.sso-links
                a(href="#")
                  | Help for DoE/TAFE staff
                a(href="#")
                  | Help for TAFE students

  +global_footer

  include assets/pug/_scripts.pug
