//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Reset"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | Reset password

              form.uk-form
                fieldset
                  legend.show-on-sr
                    | User details
                  p.uk-margin-remove
                    | To reset your password, enter your user ID:


                  label.uk-hidden-small.show-on-sr(for="username")
                    | Username
                  input.uk-width-medium-6-10.uk-margin-top(type="text", id="username", name="username", placeholder="Enter your user ID" autocomplete="username" autocorrect="off" autocapitalize="none")
                  div.sso-example-id-container.uk-width-medium-6-10
                    span.sso-example-id
                      | Example: jane.citizen1

                  input.uk-button.uk-margin-top(type="submit", value="Continue")

              p
                a(href="#")
                  | Return to login screen

              hr

              p
                | Have trouble logging in?

              p.uk-margin-large-bottom.sso-links
                a(href="#")
                  | Help for DoE/TAFE staff
                a(href="#")
                  | Help for TAFE students

  +global_footer

  include assets/pug/_scripts.pug
