//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Content"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang="en")

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard align-top">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard align-top">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block.sso-block--full-width

            div.uk-container

              p.uk-margin-large-top
                a(href="#") Return to login screen

              h1.uk-h5.uk-margin-large-top
                | Forgot your password

              p To reset your password follow the three easy steps below. You will need to have previously created 3 secret questions and answers.
              h2.uk-h6 Step 1
              p Enter your existing user ID – for example jane.citizen1 and click continue.
              img(src="http://dec-ce.bitbucket.org/gef-sso-login/test/assets/images/enter-password.jpg")
              p If you are successful, you will be taken a screen that displays your previously created secret questions and requires your secret answers.
              p If you enter an invalid user ID and click continue, you will be asked to re-enter your user ID. If you don’t have a user ID or need help, contact the following.



              h2.uk-h6 NSW Department of Education staff

              p Call EDConnect on 1300 32 32 32.

              p Hours of service are 7:30am to 6pm Monday to Friday (excluding public holidays).


              h2.uk-h6 TAFE NSW staff

              p Contact your local service desk.


              h2.uk-h6 TAFE NSW students

              p Contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office.</a>

              h2.uk-h6 Step 2

              p Enter the answers to your secret questions.
              img(src="http://dec-ce.bitbucket.org/gef-sso-login/test/assets/images/secret-questions.jpg")

              p If you are successful, you will be taken to the success screen.
              P If you haven’t created your secret questions or need help, contact the following.

              h2.uk-h6 NSW Department of Education staff
              p Call EDConnect on 1300 32 32 32.
              p Hours of service are 7:30am to 6pm Monday to Friday (excluding public holidays).

              h2.uk-h6 TAFE NSW staff
              p Contact your local service desk.

              h2.uk-h6 TAFE NSW students
              p Contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office.</a>

              h2.uk-h6 Step 3
              p You have successfully reset your password and can log in by returning to the login screen.
              img(src="http://dec-ce.bitbucket.org/gef-sso-login/test/assets/images/password-reset.jpg")

              hr

              p.uk-margin-large-bottom
                small
                  | Last updated 18 November 2016

  +global_footer

  include assets/pug/_scripts.pug
