//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Content"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang="en")

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard align-top">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard align-top">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block.sso-block--full-width

            div.uk-container

              p.uk-margin-large-top
                a(href="#") Return to login screen

              h1.uk-h5.uk-margin-large-top
                | Login help for TAFE students


              h2.uk-h6 Why have I been given a NSW Department of Education user ID and password?

              p During enrolment, you received a NSW Department of Education user ID and password for your TAFE student account. This will give you access to a range of online portal services including access to:
              ul
                li computers and the internet at TAFE
                li SharePoints where your teachers may post information and learning resources
                li online learning systems such as Moodle and Sakai
                li the TAFE Student Portal, which includes My Email, My Profile and TAFE Student e-Services, so you can view and print your results and update your contact details
                li library service resources such as e-books, information and databases.


              h2.uk-h6 How do I activate my account to access the online services?

              p Activate your account in three easy steps.
              ol
                li Register at the <a href="https://student.det.nsw.edu.au">Portal</a> using the user ID and temporary password on your TAFE NSW fees receipt. Contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a> if you have any trouble.
                li Make sure you include the slashes in your temporary password – for example 12/05/1991.
                li After you have successfully logged in, you must reset your password and set up 3 secret questions and answers from the "My Profile" tab. It can take up to 10 minutes for the new password to update all services.


              h2.uk-h6 What if I already have a user ID and password from a previous course?

              p As long as your account is still active, you should continue to use it.
              p Otherwise you will need to reactivate the account.
              p Click on forgot your password to change it in three easy steps. You will need to have previously created 3 secret questions and answers.
              p If you haven’t created secret questions and answers or need help, contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a>.

              h2.uk-h6 What if I don't have access to a computer or the internet?

              p You can log on using a college library, where computers with internet connection are available for you to use.


              h2.uk-h6 What if my account doesn't work or if I would like more information?

              p Visit your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a> in person for help.

              hr

              p.uk-margin-large-bottom
                small
                  | Last updated 17 DoEember 2012

  +global_footer

  include assets/pug/_scripts.pug
