body {
  background: #f2f2f2;
}

a,
a:visited {

  .gef-main & {
    font-weight: normal;
    color: $sso-colour-link;
    font-size: 0.9rem;
  }
}

p, ul, ol {
  font-size: 0.9rem;
}

.uk-button {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: $sso-colour-link;
  text-transform: none;
  min-width: 0;
  width: 120px;
  color: #fff !important;
  border-radius: 3px !important;
  box-shadow: none;
  padding: 0 20px;
  min-height: 40px;

  &:hover, &:focus {
    background-color: $sso-colour-link-hover;
  }
}


.sso-links {
  a {
    display: block;
    margin-bottom: 0.5em;
  }
}

.sso-labels{
    display: block;
    padding: 10px 0 0 0;
}

@media #{$gef-mq-md} {

  .sso-links {

    a {
      display: inline-block;

      &:first-child {
        margin-right: 2em;
        margin-bottom: 0;
      }
    }
  }
}

.gef-main {
  padding-bottom: 0;
}

.sso-block {
  padding: 0;
}

.sso-example-id-container{
    max-width: 100%;
    margin: 0 auto;
}

.sso-example-id{
  display: block;
  font-size: 12px ;
  padding: 5px;
  text-align: left;
  text-align: left;
  padding-left: 11px;
}

.sso-error {
  color: #B41C1C;
  font-size: 0.9rem;
}

.sso-more-info {
  font-size: 1.7rem !important;
  vertical-align: middle;
  margin-left: 10px;
}

.gef-ie9 {
  .sso-container {
    float: none;
  }
}

@media #{$gef-mq-md} {

  .sso-links {

    a {
      display: inline-block;

      &:first-child {
        margin-right: 2em;
        margin-bottom: 0;
      }
    }
  }
}
//
@media only screen and (min-width: 960px) and (min-height: 720px) {

  html {
    height: 100%;
    overflow-x: hidden;
  }

  body {
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    position: relative;

    &.align-top {
      height: auto;
    }
  }

  .gef-global-footer {
    position: absolute;
    bottom: 0;

    .align-top & {
      position: relative;
    }
  }

  .sso-main {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -50px;
  }

  .sso-container {
    display: block;
    position: absolute;
    left: 50%;
    height: 100%;
    width: 900px;
    margin: 0 auto !important;
    padding: 56px 0 168px;
    transform: translate(-50%, 0);

    .align-top & {
      height: auto;
      width: 100%;
      max-width: none;
      position: static;
      padding: 0;
      transform: translate(0, 0);
    }
  }

  .sso-block {
    position: relative;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 30px 0;
    transform: translate(-50%, -50%);

    &.sso-block--full-width {
      width: auto;
    }

    .align-top & {
      top: auto;
      left: auto;
      margin: 50px auto;
      transform: translate(0, 0);
    }
  }
}


