// ----------------------
// CUSTOM VARIABLES
// ----------------------


$sso-colour-link: rgb(10, 124, 185);
$sso-colour-link-hover: darken($sso-colour-link, 10%);
$gef-plain-3: rgb(204, 209, 217);
$gef-black: rgb(0, 0, 0);

// ----------------------
// OVERRIDE GEF VARIABLES
// ----------------------

$gef-global-header-border: none;
